
.nav-top{
   /*  background-color: lightsalmon; */
    width: 100%;
    height:10vh;
    display: flex;

    justify-content: flex-end;
    align-items: center;

}

.blue-textcolor-c{
color: #1a2079;
}
.red-textcolor-c{
    color:#c04435 ;
}

.title-c{
    font-weight: 1000;
    margin: 0px;
    padding: 0px;
}

.text-bold{
    font-weight: bold !important;
}
.text-xl{
    font-size: x-large !important;
}
.text-s{
    font-size: small !important;
}


.d-none {
    display: none !important; 
  
}

.d-rigth{
    display:block;
    margin-left:auto;
    margin-right: 0;
    margin-top: 20px;
}

/* STYLOS PRINCIPALES CARD */
.card-c{

    

    margin: 20px 0px;
    padding-bottom: 5px;
    border-radius:  5px;
    
    background-color: white; 
    box-shadow: 1px 1px 3px 1px  rgba(65, 61, 61, 0.144) ;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    
}

.card-c h1{
    margin: 0px;
    padding: 5px 0px;
    margin: 0px -20px;

    font-weight: bold;
    font-size: x-large;
   
    text-align: center;
    padding-left: 0px;
   
    border-radius: 5px 5px 0px 0px;
    
}
.card-c img{
    display: block;
  margin: auto;
  margin-top: 10px;
 
  
}

.card-c p{
    margin: 10px 0px;
}

.card-c hr{
    margin: 0px
}
.card-c input{
    margin: 0px 20px;
}

/* CONFIGURACION TEXTO CARD */

 .ctcenter-c{
     text-align: center;
 }

 .ctbold-c{
     font-weight: bold;
 }

/*  COLOR CARD AZUL */

.cblue-c{
    
    border: solid  #1a207959 1px  ;
}
.cblue-c h1{
    background-color: #1a2079;
    color: white;
}

.cblue-c hr{
    border: #1a207938 solid 1px;
}
.cblue-c select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
  

    display: block;
    background-color: #0026ff17;
     border-radius: 5px;
    color:#1a2079  ;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: large;
    width: 100%;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
    margin-top: 10px;
    border: solid transparent 1px ;

}

.cblue-c select:focus{
   
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #1a2079 1px ;
    box-sizing: border-box;
   
}
.cblue-c select:hover{
   
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #1a2079 1px ;
    box-sizing: border-box;
   
}


.cblue-c select:disabled{
    display: block;
    color: #333;

    background-color: transparent;
    border: none;
    font-weight: normal;
    padding-left: 0px;
    border-radius: 0%;
    border-bottom: solid #1a207938 2px;
}
.cblue-c input{
  

    display: block;
    background-color: #0026ff17;
     border-radius: 5px;
    color:#1a2079  ;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: large;
    width: 100%;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
    margin-top: 10px;
    border: solid transparent 1px ;

}

.cblue-c input:focus{
   
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #1a2079 1px ;
    box-sizing: border-box;
   
}
.cblue-c input:hover{
   
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #1a2079 1px ;
    box-sizing: border-box;
   
}

.cblue-c input:disabled{
    display: block;
    color: #333;

    background-color: transparent;
    border: none;
    font-weight: normal;
    padding-left: 0px;
    border-radius: 0%;
    border-bottom: solid #1a207938 2px;
}

textarea{
    resize: none;
}
.cblue-c textarea{
  

    display: block;
    background-color: #0026ff17;
     border-radius: 5px;
    color:#1a2079  ;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: large;
    width: 100%;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
    margin-top: 10px;
    border: solid transparent 1px ;

}

.cblue-c textarea:focus{
   
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #1a2079 1px ;
    box-sizing: border-box;
   
}
.cblue-c textarea:hover{
   
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #1a2079 1px ;
    box-sizing: border-box;
   
}
.cblue-c textarea:disabled{
    display: block;
    color: #333;

    background-color: transparent;
    border: none;
    font-weight: normal;
    padding-left: 0px;
    border-radius: 0%;
    border-bottom: solid #1a207938 2px;
}

.cblue-c input[type=submit]{
    background-color: #1a2079;
    color: white;
   
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    border-style: none;
    
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    vertical-align:middle;
    padding: 0px 10px 0px 10px;
}
.cblue-c input[type=submit]:hover{
    border: #1a2079 solid 2px;
    background-color: white;
    color: #1a2079;
}

/*  COLOR CARD ROJO */

.cred-c{
    
    border: solid  #c043354b 1px  ;
}
.cred-c h1{
    background-color: #c04435;
    color: white;
}

.cred-c hr{
    border: #c043354b solid 1px;
}


/*  COLOR CARD NEGRO */

.cblack-c{
    
    border: solid  #3335 1px  ;
}
.cblack-c h1{
    background-color: #3339;
    color: white;
}

.cblack-c hr{
    border: #3335 solid 1px;
}




/*  TAMAÑOS CARD */

.cw1-c{
    
    width: 100%;
}

.cw2-c{
    
    width: 50%;
    
}

.cw3-c{
    margin: 0px;
  /*   display: inline; */
    width:30%;
  
}

.box-c{
 
   
 display: flex;

 justify-content:space-between;
 padding: 0px;
 margin: 20px 0px;
    
}

/* BOTONES STILO */

.btn-blue-c{
    
    
    background-color: #1a2079;
    color: white;
   
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    border-style: none;
    
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    vertical-align:middle;
    padding: 0px 10px 0px 10px;
    
}

.btn-blue-c span{
   
    font-weight: bold;
    font-size: small;
   vertical-align:middle;
    text-align: center;
    padding-bottom: 2px;
    font-weight: 900;
}
.btn-blue-c:hover{
    border: #1a2079 solid 2px;
    
    background-color: white;
    color: #1a2079;
  
}




.img-profile-c{
   
     margin: 20px auto !important;
   
     margin-top: -30px !important;

    border-radius: 100px !important;
    height: 150px !important;
   width: 150px !important;
   border: solid #1a207938 6px !important;
   background-color:  white !important;
   padding: 5px !important;
}
.img-profile-c:hover{
    border: solid #1a2079 6px !important;
}
.img-profile-c:focus{
    border: solid #1a2079 6px !important
}

.img-profile-c[disabled]{
    margin: 20px auto !important;
    margin-top: -30px !important;
   
    border-radius: 100px !important;
    height: 160px !important;
   width: 160px !important;
   border: solid #1a2079 6px !important;
   background-color:  #1a207938 !important;
   padding: 0% !important;
}
.banner-blue-c{
    display: flex;
    background-color: #1a2079;
    height: 100px;
    margin: 0px -20px;
    border-radius: 5px 5px 0px 0px;
}
.margin-edit-c{
    margin-top: -90px;
    margin-right: -10px;
}

@media screen and (max-width: 780px){


.box-c{
    display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 10px;
        
    }
    .cw3-c{
        width:100%;
        margin-bottom: 10px;
      
    }
}