
.nav-top{
   /*  background-color: lightsalmon; */
    width: 100%;
    height:10vh;
    display: flex;

    justify-content: flex-end;
    align-items: center;

}
.m0-c{
    margin: 0px !important;
}
.mt10-c{
    
    margin-top: 10px ;
}
.mt20-c{
    margin-top: 30px !important;
}

.blue-textcolor-c{
color: #1a2079;
}
.red-textcolor-c{
    color:#c04435 !important ;
}

.title-c{
    font-weight: 1000;
    margin: 0px;
    padding: 0px;
}
.text-light{
    font-weight: lighter !important;
}
.text-bold{
    font-weight: bold !important;
}
.text-bolder{
    font-weight: 800 !important;
}
.text-m{
    font-size: medium !important;
}
.text-xl{
    font-size: x-large !important;
}
.text-s{
    font-size: small !important;
}


.d-none {
    display: none !important; 
  
}
.d-inline{
    display: inline-block;
}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
.d-rigth-inline{
    display: inline-block;
    margin-right: 30px !important;
    margin-left:50px !important;
}

.d-rigth{
    display:block;
    margin-left:auto;
    margin-right: 0;
    margin-top: 20px;
}
.d-center{
    display:block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}
.text-vertical-center-c{
    margin-top: auto;
    margin-bottom: auto;
}

/* STYLOS PRINCIPALES CARD */
.card-c{


    margin: 20px 0px;
    padding-bottom: 5px;
    border-radius:  5px;
    
    background-color: white; 
    box-shadow: 1px 1px 3px 1px  rgba(65, 61, 61, 0.144) ;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    
}

.card-c h1{
    margin: 0px;
    padding: 5px 0px;
    margin: 0px -20px;

    font-weight: bold;
    font-size: x-large;
   
    text-align: center;
    padding-left: 0px;
   
    border-radius: 5px 5px 0px 0px;
    
}
.card-c img{
    display: block;
  margin: auto;
  margin-top: 10px;
 
  
}

.card-c p{
    margin: 10px 0px;
}

.card-c hr{
    margin: 0px
}
.card-c input{
    margin: 0px 20px;
}

/* CONFIGURACION TEXTO CARD */

 .ctcenter-c{
     text-align: center;
 }

 .ctbold-c{
     font-weight: bold;
 }






/*  TAMAÑOS CARD */

.cw1-c{
    
    width: 100%;
}

.cw2-c{
    
    width: 48%;
    margin-bottom: 0px;
    
}

.cw3-c{
    margin: 0px;
  /*   display: inline; */
    width:30%;
    margin-bottom: 20px;
  
}
/* MAQUETADO LOGROS */
.cw1l-c{
    width: 62%; 
}
.cw2l-c{
    width: 23%; 
}
.cw3l-c{
     
 display: flex;
    justify-content:space-between;
    width: 10%; 
}
/* Box sizing */

.box-c{
 
   
 display: flex;

 justify-content:space-between;
 padding: 0px;
 margin: 10px 0px;
 
    
}
.box-noresponsive-c{
 
   
    display: flex;
   
    justify-content:space-between;
    padding: 0px;
    margin: 10px 0px;
    
       
   }

/* colores RRSS */

.bg-twitter{
    background-color: #00ACEE !important;
}
.bg-facebook{
    background-color: #3b5998 !important;
}
.bg-instagram{
    background: linear-gradient(60deg, #fdf497 -20%, #fd5949 25%,#d6249f 80%,#285AEB 120%) !important;
}
.text-twitter{
    color: #00ACEE !important;
}
.text-facebook{
    color: #3b5998 !important;
}
.text-instagram{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
/* BOTONES STILO azul */


.btn-blue-c{
    background-color: #1a2079;
    color: white;
   
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    border-style: none;
    
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    vertical-align:middle;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
}

.btn-blue-c span{
    font-weight: bold;
    font-size: small;
   vertical-align:middle;
    text-align: center;
    padding-bottom: 2px;
    font-weight: 900;
}
.btn-blue-c:hover{
    border: #1a2079 solid 2px;
    padding: 0px 8px 0px 8px;
    background-color: white;
    color: #1a2079;
    box-sizing: border-box;
  
}
/* BOTON STILO Gris */
.btn-black-c{
    background-color: rgb(158, 158, 158);
    color: white;
   
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    border-style: none;
    
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    vertical-align:middle;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
}

.btn-black-c span{
    font-weight: bold;
    font-size: small;
   vertical-align:middle;
    text-align: center;
    padding-bottom: 2px;
    font-weight: 900;
}
.btn-black-c:hover{
    border: #3337 solid 2px;
    padding: 0px 8px 0px 8px;
    background-color: white;
    color: #3337;
    box-sizing: border-box;
  
}
/* BOTON STILO Rojo */
.btn-red-c{
    background-color: #c04435;
    color: white;
   
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    border-style: none;
    
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    vertical-align:middle;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
}

.btn-red-c span{
    font-weight: bold;
    font-size: small;
   vertical-align:middle;
    text-align: center;
    padding-bottom: 2px;
    font-weight: 900;
}
.btn-red-c:hover{
    border: #c04435 solid 2px;
    padding: 0px 8px 0px 8px;
    background-color: white;
    color: #c04435;
    box-sizing: border-box;
  
}


/* Personalizacion Perfil */
/*  COLOR CARD AZUL */

.img-profile-blue-c{
   
     margin: 20px auto !important;
   
     margin-top: -30px !important;

    border-radius: 100px !important;
    height: 150px !important;
   width: 150px !important;
   border: solid #1a207938 6px !important;
   background-color:  white !important;
   padding: 5px !important;
}
.img-profile-blue-c:hover{
    border: solid #1a2079 6px !important;
}
.img-profile-blue-c:focus{
    border: solid #1a2079 6px !important
}

.img-profile-blue-c[disabled]{
    margin: 20px auto !important;
    margin-top: -30px !important;
   
    border-radius: 100px !important;
    height: 160px !important;
   width: 160px !important;
   border: solid #1a2079 6px !important;
   background-color:  #1a207938 !important;
   padding: 0% !important;
}
.banner-blue-c{
    display: flex;
    background-color: #1a2079;
    height: 100px;
    margin: 0px -20px;
    border-radius: 5px 5px 0px 0px;
}
.mini-banner-blue-c{
    display: inline-block;
    background-color: #1a2079;
    color: white;
    margin: 0px -20px;
    border-radius: 0px 50px 50px 0px;
    padding: 10px 15px 10px 20px;
    text-align: end;
     
    margin-top: 20px;
   
}
.mini-banner-blue-c span{
    font-size: large; 
    vertical-align:middle;
    text-align: center;
    padding-bottom: 6px;
    margin-right: 20px;
  
}

.margin-edit-c{
    margin-top: -90px;
    margin-right: -10px;
}
.margin-add-c{
    margin-top: -52px;
    margin-right: -5px;
    
}





.cblue-c{
    border: solid  #1a207959 1px  ;
}
.cblue-c h1{
    background-color: #1a2079;
    color: white;
}
.cblue-c hr{
    border: #1a207938 solid 1px;
}
.cblue-c select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    display: block;
    background-color: #0026ff17;
     border-radius: 5px;
    color:#1a2079  ;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: large;
    width: 100%;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
    margin-top: 10px;
    border: solid transparent 1px ;
}
.cblue-c select:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #1a2079 1px ;
    box-sizing: border-box;
}
.cblue-c select:hover{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #1a2079 1px ;
    box-sizing: border-box;
}
.cblue-c select:disabled{
    display: block;
    color: #333;
    background-color: transparent;
    border: none;
    font-weight: normal;
    padding-left: 0px;
    border-radius: 0%;
    border-bottom: solid #1a207938 2px;
}
.cblue-c input{
    display: block;
    background-color: #0026ff17;
     border-radius: 5px;
    color:#1a2079  ;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: large;
    width: 100%;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
    margin-top: 10px;
    border: solid transparent 1px ;
}
.cblue-c input:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #1a2079 1px ;
    box-sizing: border-box;
}
.cblue-c input:hover{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #1a2079 1px ;
    box-sizing: border-box;
}
.cblue-c input:disabled{
    display: block;
    color: #333;
    background-color: transparent;
    border: none;
    font-weight: normal;
    padding-left: 0px;
    border-radius: 0%;
    border-bottom: solid #1a207938 2px;
}
textarea{
    resize: none;
}
.cblue-c textarea{
    display: block;
    background-color: #0026ff17;
     border-radius: 5px;
    color:#1a2079  ;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: large;
    width: 100%;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
    margin-top: 10px;
    border: solid transparent 1px ;
}
.cblue-c textarea:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #1a2079 1px ;
    box-sizing: border-box;
}
.cblue-c textarea:hover{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #1a2079 1px ;
    box-sizing: border-box;
}
.cblue-c textarea:disabled{
    display: block;
    color: #333;
    background-color: transparent;
    border: none;
    font-weight: normal;
    padding-left: 0px;
    border-radius: 0%;
    border-bottom: solid #1a207938 2px;
}
.cblue-c input[type=submit]{
    background-color: #1a2079;
    color: white;
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    border-style: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    vertical-align:middle;
    padding: 0px 10px 0px 10px;
}
.cblue-c input[type=submit]:hover{
    border: #1a2079 solid 2px;
    background-color: white;
    color: #1a2079;
}

/*  COLOR CARD GRIS */

.img-profile-black-c{
   
    margin: 20px auto !important;
  
    margin-top: -30px !important;

   border-radius: 100px !important;
   height: 150px !important;
  width: 150px !important;
  border: solid #3332 6px !important;
  background-color:  white !important;
  padding: 5px !important;
}
.img-profile-black-c:hover{
   border: solid #3337 6px !important;
}
.img-profile-black-c:focus{
   border: solid #3337 6px !important
}

.img-profile-black-c[disabled]{
   margin: 20px auto !important;
   margin-top: -30px !important;
  
   border-radius: 100px !important;
   height: 160px !important;
  width: 160px !important;
  border: solid #3337 6px !important;
 /*  background-color:  #3337!important; */
  padding: 0% !important;
}
.banner-black-c{
   display: flex;
   background-color: #3337;
   height: 100px;
   margin: 0px -20px;
   border-radius: 5px 5px 0px 0px;
}
.mini-banner-black-c{
    display: inline-block;
    background-color: #3337;
    color: white;
    margin: 0px -20px;
    border-radius: 0px 50px 50px 0px;
    padding: 10px 15px 10px 20px;
    text-align: end;
     
    margin-top: 20px;
   
}
.mini-banner-black-c span{
    font-size: large; 
    vertical-align:middle;
    text-align: center;
    padding-bottom: 6px;
    margin-right: 20px;
  
}
.margin-edit-c{
   margin-top: -90px;
   margin-right: -10px;
}
.margin-add-c{
   margin-top: -52px;
   margin-right: -5px;
   
}

.cblack-c{
    border: solid  #3333 1px  ;
}
.cblack-c h1{
    background-color: #3337;
    color: white;
}
.cblack-c hr{
    border: #3337 solid 1px;
}
.cblack-c select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    display: block;
    background-color: #3331;
     border-radius: 5px;
    color:#333  ;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: large;
    width: 100%;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
    margin-top: 10px;
    border: solid transparent 1px ;
}
.cblack-c select:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #3337 1px ;
    box-sizing: border-box;
}
.cblack-c select:hover{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #3337 1px ;
    box-sizing: border-box;
}
.cblack-c select:disabled{
    display: block;
    color: #333;
    background-color: transparent;
    border: none;
    font-weight: normal;
    padding-left: 0px;
    border-radius: 0%;
    border-bottom: solid #3337 2px;
}
.cblack-c input{
    display: block;
    background-color: #3331;
     border-radius: 5px;
    color:#333  ;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: large;
    width: 100%;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
    margin-top: 10px;
    border: solid transparent 1px ;
}
.cblack-c input:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #3337 1px ;
    box-sizing: border-box;
}
.cblack-c input:hover{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #3337 1px ;
    box-sizing: border-box;
}
.cblack-c input:disabled{
    display: block;
    color: #333;
    background-color: transparent;
    border: none;
    font-weight: normal;
    padding-left: 0px;
    border-radius: 0%;
    border-bottom: solid #3337 2px;
}
textarea{
    resize: none;
}
.cblack-c textarea{
    display: block;
    background-color: #3331;
     border-radius: 5px;
    color:#333  ;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: large;
    width: 100%;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
    margin-top: 10px;
    border: solid transparent 1px ;
}
.cblack-c textarea:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #3337 1px ;
    box-sizing: border-box;
}
.cblack-c textarea:hover{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: solid #3337 1px ;
    box-sizing: border-box;
}
.cblack-c textarea:disabled{
    display: block;
    color: #333;
    background-color: transparent;
    border: none;
    font-weight: normal;
    padding-left: 0px;
    border-radius: 0%;
    border-bottom: solid #3337 2px;
}
.cblack-c input[type=submit]{
    background-color: #3337;
    color: white;
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    border-style: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    vertical-align:middle;
    padding: 0px 10px 0px 10px;
}
.cblack-c input[type=submit]:hover{
    border: #3337 solid 2px;
    background-color: white;
    color: #3337;
}

/* CARD RED ------------------------------------------------------- */
.img-mini-profile-red-c{
   
    margin-top: -0px !important;
    border-radius: 100px !important;
    height: 80px !important;
   width: 80px !important;
   border: solid #c04435 4px ;
   background-color:  white !important;
   padding: 0% !important;
}
.img-xs-profile-red-c{
   
    /* margin-right: 0px !important; */
    margin-top: -2px !important;
    border-radius: 100px !important;
    height: 40px !important;
   width: 40px !important;
   border: solid #c04435 2px ;
   background-color:  white !important;
   padding: 0% !important;
}


.img-profile-red-c{
   
    margin: 20px auto !important;
  
  /*   margin-top: 330px !important; */

   border-radius: 100px !important;
   height: 150px !important;
  width: 150px !important;
  border: solid #1a207938 6px !important;
  background-color:  white !important;
  padding: 5px !important;
}
.img-profile-red-c:hover{
   border: solid #c04435 6px !important;
}
.img-profile-red-c:focus{
   border: solid #c04435 6px !important
}

.img-profile-red-c[disabled]{
   margin: 20px auto !important;
   margin-top: -80px !important;
  
   border-radius: 100px !important;
   height: 160px !important;
  width: 160px !important;
  border: solid #c04435 6px !important;
  background-color:  white !important;
  padding: 0% !important;
}

.banner-red-c{
   display: flex;
   background-color: #c04435;
   height: 100px;
   margin: 0px -20px;
   border-radius: 5px 5px 0px 0px;
}
.mini-banner-red-c{
   display: inline-block;
   background-color: #c04435;
   color: white;
   margin: 0px -20px;
   border-radius: 0px 50px 50px 0px;
   padding: 10px 15px 10px 20px;
   text-align: end;
    
   margin-top: 20px;
  
}
.mini-banner-red-c span{
   font-size: large; 
   vertical-align:middle;
   text-align: center;
   padding-bottom: 6px;
   margin-right: 20px;
 
}

.margin-edit-c{
   margin-top: -90px;
   margin-right: -10px;
}
.margin-add-c{
   margin-top: -52px;
   margin-right: -5px;
   
}

.cred-c{
   border: solid  #c0443559 1px  ;
}
.cred-c h1{
   background-color: #c04435;
   color: white;
}
.cred-c hr{
   border: #c0443538 solid 1px;
}
.cred-c select{
   -moz-appearance:none; /* Firefox */
   -webkit-appearance:none; /* Safari and Chrome */
   appearance:none;
   display: block;
   background-color: #0026ff17;
    border-radius: 5px;
   color:#c04435  ;
   border: none;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: normal;
   font-size: large;
   width: 100%;
   padding: 5px 10px;
   margin: 0;
   box-sizing: border-box;
   margin-top: 10px;
   border: solid transparent 1px ;
}
.cred-c select:focus{
   outline:none !important;
   outline-width: 0 !important;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   border: solid #c04435 1px ;
   box-sizing: border-box;
}
.cred-c select:hover{
   outline:none !important;
   outline-width: 0 !important;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   border: solid #c04435 1px ;
   box-sizing: border-box;
}
.cred-c select:disabled{
   display: block;
   color: #333;
   background-color: transparent;
   border: none;
   font-weight: normal;
   padding-left: 0px;
   border-radius: 0%;
   border-bottom: solid #c0443538 2px;
}
.cred-c input{
   display: block;
   background-color: #0026ff17;
    border-radius: 5px;
   color:#c04435  ;
   border: none;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: normal;
   font-size: large;
   width: 100%;
   padding: 5px 10px;
   margin: 0;
   box-sizing: border-box;
   margin-top: 10px;
   border: solid transparent 1px ;
}
.cred-c input:focus{
   outline:none !important;
   outline-width: 0 !important;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   border: solid #c04435 1px ;
   box-sizing: border-box;
}
.cred-c input:hover{
   outline:none !important;
   outline-width: 0 !important;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   border: solid #c04435 1px ;
   box-sizing: border-box;
}
.cred-c input:disabled{
   display: block;
   color: #333;
   background-color: transparent;
   border: none;
   font-weight: normal;
   padding-left: 0px;
   border-radius: 0%;
   border-bottom: solid #c0443538 2px;
}
textarea{
   resize: none;
}
.cred-c textarea{
   display: block;
   background-color: #0026ff17;
    border-radius: 5px;
   color:#c04435  ;
   border: none;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: normal;
   font-size: large;
   width: 100%;
   padding: 5px 10px;
   margin: 0;
   box-sizing: border-box;
   margin-top: 10px;
   border: solid transparent 1px ;
}
.cred-c textarea:focus{
   outline:none !important;
   outline-width: 0 !important;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   border: solid #c04435 1px ;
   box-sizing: border-box;
}
.cred-c textarea:hover{
   outline:none !important;
   outline-width: 0 !important;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   border: solid #c04435 1px ;
   box-sizing: border-box;
}
.cred-c textarea:disabled{
   display: block;
   color: #333;
   background-color: transparent;
   border: none;
   font-weight: normal;
   padding-left: 0px;
   border-radius: 0%;
   border-bottom: solid #c0443538 2px;
}
.cred-c input[type=submit]{
   background-color: #c04435;
   color: white;
   height: 40px;
   font-size: 24px;
   border-radius: 5px;
   border-style: none;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: normal;
   vertical-align:middle;
   padding: 0px 10px 0px 10px;
}
.cred-c input[type=submit]:hover{
   border: #c04435 solid 2px;
   background-color: white;
   color: #c04435;
}



/* Mini banners */
.mini-banner-red-c{
    display: inline-block;
    background-color: #c04435;
    color: white;
    margin: 0px -20px;
   /*  width: 60%; */
    border-radius: 0px 50px 50px 0px;
    padding: 10px 15px 10px 20px;
    
    text-align: end;
     
    margin-top: 20px;
   
}
.mini-banner-red-c span{
    font-size: large; 
    vertical-align:middle;
    text-align: center;
    padding-bottom: 6px;
    margin-right: 20px;
  
}






@media screen and (max-width: 780px){


    .box-c{
    display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 10px;
        
    }
    .cw3-c{
        width:100%;
        margin-bottom: 10px;
      
    }
    .cw2-c{
        width:100%;
        margin-bottom: 10px;
      
    }
        /* MAQUETADO LOGROS */
    .cw1l-c{
        text-align: center ;
        width: 100%; 
    }
    .cw1l-c input{
        text-align: center ;
        width: 100%; 
    }
    .cw2l-c{
        width: 100%; 
        display: inline-block;
    }
    .cw3l-c{
        justify-content:flex-end;
        width: 100%; 
    }
    .cw3l-c button{
        margin-left: 10px; 
        
    }
    
}