


.menu-content {
   height: 100vh;
   width: 300px;
   display: flex;
   align-items: center;
   flex-direction: column;
    
}
.logo-p{
    

     background-image: url("../../images/sponsorL2.png"); 
    background-size: 260px;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 100%;
    width: 100%;
      font-weight: 900; 
      font-size: 30px;
      color: #c04435;
      height: 10%;
   
      display: flex;
      align-items: center;
      justify-content: center;
 } 

.panel-p{
    height: 90%;
    background-color: #1a2079;
    border-radius: 0px 5px  0px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: -10px 10px 10px 0px  rgba(65, 61, 61, 0.144) inset;
    
}


.image-p{
    margin-top: 50px;
    background-size: 150px;
     background-image: url("https://www.lapi.com.mx/si-storage/Ecommerce/Images/57/57067/115321.png"); 
    background-position: center;
    border-radius: 100px;
    height: 110px;
    width: 110px;
    border: solid white 6px;
    background-color:  #b7cfb8;
}

.name{
    color: white;
    font-weight: 1000;
    font-size:xx-large;
    text-align: center;
    margin-bottom: 10px;
}
.deporte{
    margin-top: 0px;
    color: white;
    font-size:larger;
    text-align: center;
    font-weight: 500;

}

ul{
padding: 0px;
width: 220px;

}

li{
    list-style: none;
    padding: 10px 0px;
    
     
}

.btn-menu-p{
    background-color: rgba(0, 0, 0, 0);
    color: white ;
    width: 100%; 
    height: 40px;
    font-size: 24px;
    border-radius: 5px;
    border-style: none;
    text-align: start;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    
    
}
.btn-menu-p:hover{
    background-color:white;
    color: #1a2079 ;
  
}

@media screen and (max-width: 1024px){

    
    .menu-content {
        width: 60px;
        align-items:initial;
        
        
    }
    
    ul{
        width: 40px;
        
    }
    .btn-menu-p{
        text-align: center;
    }
    .btn-menu-p span{
        display: none;
        
    }
    .name{
        
        display: none;
    }
    .deporte{
        opacity: 0;
    }

    .image-p{
        height: 40px;
        width: 40px;
        background-size: 50px;
        border: solid white 3px;
    }
    .logo-p{
    

        background-image: url("../../images/sponsorL2mini.png");
        background-size: 50px;
        background-position: center;
        background-repeat: no-repeat;
    }


}