
.logo{
   /*  color: #b7cfb8; */
    /* font-family: 'Nunito Sans', sans-serif; */
     font-weight: 900; 
     font-size: 30px;
     margin-left: 30px;
     color: #c04435;
} 

.menu-content {
   height: 100vh;
   width: 300px;
    
    margin-top: 30px;
}

.panel{
    background-color: #b7cfb8;
    height: 100vh;
    border-radius: 0px 40px  0px 0px;
    margin-top: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: -10px 10px 10px 0px  rgba(65, 61, 61, 0.144) inset;
    
}
.photo{
     
    margin-top: 50px;
    height: 120px;
    width: 120px ;
    border: solid white 3px;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.image{

  /*   background-color: blue; */
    background-image: url("https://www.lapi.com.mx/si-storage/Ecommerce/Images/57/57067/115321.png");
    background-position: center;
    border-radius: 100%;
    height: 110px;
    width: 110px;
   
}

.name{
    color: white;
    font-weight: 1000;
    font-size:xx-large;
    text-align: center;
    margin-bottom: 10px;
}
.deporte{
    margin-top: 0px;
    color: white;
    font-size:larger;
    text-align: center;
    font-weight: 500;

}
.sections{
   /*  background-color: violet; */
   
    margin-top: 0px;
}
ul{
padding: 0px;
width: 220px;

}

li{
    /* ackground-color: white; */
    list-style: none;
    padding: 10px 0px;
     
}

.btn-menu{
    background-color: rgba(0, 128, 128, 0);
    color: white ;
    width: 100%;
    height: 40px;
    font-size: large;
    border-radius: 20px;
    border-style: none;
    text-align: start;
    font-weight: bold;
    
}
.btn-menu:hover{
    background-color: white;
    color: #b7cfb8 ;
    width: 100%;
    height: 40px;
    font-size: large;
    border-radius: 20px;
    border-style: none;
    text-align: start;
    
}